name: Generate Markdown documentation

on:
  workflow_dispatch:
  pull_request:
    branches: 
    - main
    paths:
    - 'Metadata/*.nuspec'

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_PUSH_PAT }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Build DTDL2MD
        run: dotnet build ./Tools/DTDL2MD/
      - name: Delete old docs
        run: |
          mv Doc/index.md ./DocIndexBackup.md
          rm -rf Doc/*
          mv DocIndexBackup.md ./Doc/index.md
      - name: Run DTDL2MD to generate docs
        run: dotnet run --project ./Tools/DTDL2MD/ -i ./RealEstateCore.DTDLv2.jsonld -o ./Doc/
      - name: 'Commit merged output'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automatically regenerated ontology documentation.