name: Merge DTDL sources

on:
  workflow_dispatch:
  pull_request:
    branches: 
      - "main"
    paths:
      - "Source/DTDL**"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
          token: ${{ secrets.CI_PUSH_PAT }}
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Build DTDL Merger
      run: dotnet build ./Tools/DTDLMerger/
    - name: Run DTDL Merger on REC DTDLv2
      run: dotnet run --project ./Tools/DTDLMerger/ ./Source/DTDLv2/ > ./RealEstateCore.DTDLv2.jsonld
    - name: 'Commit merged output'
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Automatically merged sources